{% extends "sales/base.html" %} {% block content %}

<div class="mt-5 mb-2">
  <div class="row">
    <div class="col-12">
      <h1>Create Sales Record</h1>
    </div>
  </div>
  <form id="create-form" class="form-horizontal">
    <div class="form-group mb-2">
      <label for="ItemType" class="form-label col-sm-2">Item Type:</label>
       <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="Item-type"
          name="Item_Type"
        />
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="Region" class="form-label col-sm-2">Region:</label>
      <div class="col-sm-10">
        <select class="form-select" id="region-select" name="Region"></select>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="Country" class="form-label col-sm-2">Country:</label>
      <div class="col-sm-10">
        <select class="form-select" id="country-select" name="Country"></select>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="SalesChannel" class="form-label col-sm-2"
        >Sales Channel:</label
      >
      <div class="col-sm-10">
        <select
          class="form-select"
          id="sales-channel-select"
          name="Sales_Channel"
        >
          <option value="Offline" selected>Offline</option>
          <option value="Online">Online</option>
        </select>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="OrderPriority" class="form-label col-sm-2"
        >Order Priority:</label
      >
      <div class="col-sm-10">
        <select
          class="form-select"
          id="order-priority-select"
          name="Order_Priority"
        >
          <option value="H" selected>H</option>
          <option value="L">L</option>
          <option value="M">M</option>
        </select>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="OrderDate" class="form-label col-sm-2">Order Date:</label>
      <div class="col-sm-10">
        <input
          type="date"
          class="form-control"
          id="order-date"
          name="Order_Date"
        />
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="OrderID" class="form-label col-sm-2">Order ID:</label>
      <div class="col-sm-10">
        <input
          type="number"
          class="form-control"
          id="order-id"
          name="Order_ID"
        />
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="ShipDate" class="form-label col-sm-2">Ship Date:</label>
      <div class="col-sm-10">
        <input
          type="date"
          class="form-control"
          id="ship-date"
          name="Ship_Date"
        />
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="UnitsSold" class="form-label col-sm-2">Units Sold:</label>
      <div class="col-sm-10">
        <input
          type="number"
          step="any"
          class="form-control"
          id="units-sold"
          name="Units_Sold"
        />
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="UnitPrice" class="form-label col-sm-2">Unit Price:</label>
      <div class="col-sm-10">
        <input
          type="number"
          step="any"
          class="form-control"
          id="unit-price"
          name="Unit_Price"
        />
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="UnitCost" class="form-label col-sm-2">Unit Cost:</label>
      <div class="col-sm-10">
        <input
          type="number"
          step="any"
          class="form-control"
          id="unit-cost"
          name="Unit_Cost"
        />
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="TotalRevenue" class="form-label col-sm-2"
        >Total Revenue:</label
      >
      <div class="col-sm-10">
        <input
          type="number"
          step="any"
          class="form-control"
          id="total-revenue"
          name="Total_Revenue"
        />
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="TotalCost" class="form-label col-sm-2">Total Cost:</label>
      <div class="col-sm-10">
        <input
          type="number"
          step="any"
          class="form-control"
          id="total-cost"
          name="Total_Cost"
        />
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="TotalProfit" class="form-label col-sm-2">Total Profit:</label>
      <div class="col-sm-10">
        <input
          type="number"
          step="any"
          class="form-control"
          id="total-profit"
          name="Total_Profit"
        />
      </div>
    </div>

    <!-- Additional form fields for the rest of the properties in the saleRecord object -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </form>
</div>
<script>
  // fetch the record from the API from url and update the edit form


  
  $("#create-form").submit(function (e) {
    e.preventDefault();
    const formData = $(this).serializeArray();
    var object = {};
    formData.forEach(function (item) {
      object[item.name] = item.value;
    });
    var json = JSON.stringify(object);
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/sales/add",
      data: json,
      success: function () {
        // handle success
        window.location.href = "/sales";
      },
      error: function () {
        // handle error
      },
    });
  });
  $(document).ready(function () {
    // Get the regions from the API
    $.ajax({
      url: "/api/home",
      type: "GET",
      success: function (data) {
        const regions = [
          "Sub-Saharan Africa",
          "North America",
          "South America",
        ];
        // Loop through the regions and create new options for the select element
        var options = "";
        for (var i = 0; i < regions.length; i++) {
          options +=
            '<option value="' + regions[i] + '">' + regions[i] + "</option>";
        }
        // Update the select element with the new options
        $("#region-select").append(options);
      },
    });

    // Get the countries from the API
    $.ajax({
      url: "/api/home",
      type: "GET",
      success: function (data) {
        const countries = ["Algeria", "Angola", "Benin"];
        // Loop through the regions and create new options for the select element
        var options = "";
        for (var i = 0; i < countries.length; i++) {
          options +=
            '<option value="' +
            countries[i] +
            '">' +
            countries[i] +
            "</option>";
        }
        // Update the select element with the new options
        $("#country-select").append(options);
      },
    });

    $.ajax({
      url: "/api/home",
      type: "GET",
      success: function (data) {
        const itemTypes = ["Fruits", "Vegetables", "Meat"];
        // Loop through the regions and create new options for the select element
        var options = "";
        for (var i = 0; i < itemTypes.length; i++) {
          options +=
            '<option value="' +
            itemTypes[i] +
            '">' +
            itemTypes[i] +
            "</option>";
        }
        // Update the select element with the new options
        $("#item-select").append(options);
      },
    });
  });
</script>
{% endblock content %}
